services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: node-container
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:16-alpine
    container_name: db-container
    volumes:
      - db-volume:/var/lib/postgresql/data
    env_file:
      - .env
    ports:
      - "5432:5432"

volumes:
  db-volume:
